:root {
    --orange-color: #E20A17;
    --black-colour: #111111;
    --dark-blue-colour: #002D71;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins";
}
/* button style start */
.btn{
    padding: 16px 32px;
    border-radius: 100px;
    color: white;
    display: inline-block;
    font-weight:700;
    font-size: 18px;
    text-decoration: none;
}

.btn.dark{
    background-color:var(--dark-blue-colour) ;
    border: 2px solid rgb(250, 247, 247);
    transition: color 0.3 ease;
}



.btn.orange{
    background-color: var(--orange-color);
}

.btn.orange:hover {
  background-color:#86464a ;
}
/* button style end */

.colored{
    color: var(--orange-color);
}

.logo{
    position: absolute;
    width: 120px;
    height: 101px;
    left: 70px;
    top: 21px;
}


.header1{
    background: linear-gradient(89.95deg, #C3EDFB 0.05%, #E4F9FE 99.96%);
    position: absolute;
    width: 1028px;
    height: 720px;
    left: 0px;
    top: 0px;
    color: white;
}
.header2 {
    position: absolute;
width: 500px;
height: 720px;
margin-left: 1028px;
top: 0px;
background: #002D71;
}
/* nav start */
nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 61px;
    font-size: 30px;

}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
}

nav ul li a{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #111111;
    text-decoration:none ;

}

.nav1{
    margin-right:64px ;
}

.nav1 ul li {
  position: relative;
}

.nav1 ul li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #E20A17;
}

.nav2{
    margin-right: 9rem;
    margin-top: 50px;
}

.nav2 ul li .login{
  position: relative;
}

.nav2 ul li .login:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #E20A17;
}
/* nav end */


.small{
    color: black;
}



.wrapper{
    max-width:1134px;
    margin:0 auto;
    margin-top: 800px;
}

.con{
    margin-left: 180px;
    color: #111111;
    margin-top: 100px;
}
.pp{
    font-size:20px;
}

@keyframes colorChange {
    0% {
      color: #002D71;
    }
    50% {
      color: #E20A17;
    }
    100% {
      color: #E20A17;
    }
  }
  
  .animated-text {
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    animation-name: colorChange;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
 .con h1 {
    font-size: 65px;
    margin-top: 50px;
    margin-left: 9px;
    position: relative;

  }
  
  .con h1 span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .con h1 span.animated-text {
    animation-delay: 1s;
    font-size: 70px;
    margin-left: 10px;
    animation-fill-mode: forwards;
  }

 .con h1 span.animated-text:nth-child(2) {
  animation-delay: 2s;
}

.con h1 span.animated-text:nth-child(3) {
  animation-delay: 3s;
}
/* nav part2 */
.header2 nav ul li a {
    color: white;
}

/* .header2 nav ul li:last-child a {
    border: 2px solid rgb(250, 247, 247);
    border-radius: 100px;
    padding: 16px 32px;
} */
/* nav part 2 end */

.iphone-container {
    position: relative;
    height: 400px;
  }

.iphone-image {
    position: absolute;
    margin-top: -130px;
    margin-left: 64rem;
    transform: translate(-50%, -50%);
    z-index: 2; 
    width: 247px;
    animation: hoverUpDown 2s infinite alternate;
}

@keyframes hoverUpDown {
    0% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -60%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
/* card start */
.card {
    width: 250px;
    height: 124px;
    padding: 20px;
    margin-left: 800px;
    position: relative;
    z-index: 9999;
    background: #FFFFFF;
    box-shadow: 10px 25px 50px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    top: -33rem;
}

.card__headline {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    
}

.card__photos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card__photos img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    margin-left: -20px;
    z-index: 999;
}
/* card end */

  
  .center-heading {
    text-align: center;
    margin-top: 120px;
    font-size: 48px;
    margin-left: 30px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  
/* offer start */



  .car {
    
    width: calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    background: #FFFFFF;
    box-shadow: 15px 15px 40px rgba(0, 53, 133, 0.1);
    border-radius: 10px;
  }
  
  .car img {
    width: 20%;
    height: auto;
    margin-right: 16rem;

    
  }
  
  .car h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    text-align: left;
    margin-left: 15px;
  }
  
  .car p {
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
  }

/* offer section end */

.easy {
    text-align: center;
    background-color:#F5F9FF;
    padding: 16px;
}

.image-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 180px;
}

.image-wrapper .laptopcontent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 38rem;
    height: 24rem;
    margin-left: -17px;
    margin-top: 2rem;
}
.image-wrapper .laptopimg {
    margin-left: -17px;
    width: 700px;
    height: auto;
}

.eazy{
    text-align: left;
    position: relative;
    top: 2rem;
   justify-content: flex-start;
   margin-top: 20px;
   margin-left: 90px;
}

.eazy h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.eazy p {
    font-size: 16px;
}

.eazy .btn {
    padding: 16px 25px;
}

/* section easy end */

.writing{
    margin-top: 100px;
    margin-left: 200px;
}

.writing h1{
    font-size: 40px;
    
}

.writing p{
    font-size: 20px;
    margin-top: -1rem;
}

.fourth-right{
    font-size: 14px;
    margin-left: 20px;
}

.fourth {
    display: flex;
    align-items: flex-start;
}
.image-wrapper1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 10rem;
}

.image-wrapper1 img {
    margin-right:50px;
    margin-left: 100px;
}
.image-wrapper1 div {
    display: flex;
    flex-direction: column;
}

.image-wrapper2 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image-wrapper2 img {
    margin-right:50px;
    margin-left: 100px;
}
.image-wrapper2 div {
    display: flex;
    flex-direction: column;
}

.image-wrapper3 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.image-wrapper3 img {
    margin-right:50px;
    margin-left: 100px;
}
.image-wrapper3 div {
    display: flex;
    flex-direction: column;
}

.fourth-right h1 {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}

.fourth-right p {
    font-size: 17px;
    line-height: 35px
}

.line{
    margin-top: -200px;
    margin-left: 40px;
    z-index: 1;
    position: relative;
}
.circle {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #002D71;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    margin-left: 15px;
    margin-top: -650px;
    z-index: 2;
  }

/* end of fourth section */

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

  .wrap{
    display: flex;
    flex-wrap: wrap;
    background-color: #002D71;
    width: 1528px;
    height: 720px;
    left: 0px;
    margin-top: 270px;
    
  }
  .goal{
    margin-top: 150px;
    margin-left: 180px;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .handcloseup{
    position: absolute;
    width: 700px;
    height: auto;
    left: 800px;
    margin-top: 9.77rem;
    z-index: 2;
    margin-top: -213px;
    animation: moveLeftRight 3s infinite;
}

.goal h1{
    margin-bottom:10px ;
    font-size: 40px;
}

.goal p{
    font-size: small;
}

.goal .button{
    color: #FFFFFF;
    margin-left: 2rem;
}

/* goal section end */

.samaya {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .why {
    text-align: center;
    font-size: 48px;
  }
  
  .conte {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .img-wrap {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 40px;
  }
  
  .text-wrapper {
    flex: 1;
  }
  
 
  .text-wrapper p {
    font-size:15px ;
  }
  
  .img-wrap img {
    max-width: 300px;
    height: auto;
  }
  .text-wrapper h2{
    margin: 0;
  }

  /* samaya section end */

  .trust{
    margin-top: 140px;
    text-align: center;
    font-size: 10pxpx;
  }
  .five{
    margin-top: 60px;
    transform: translateY(-50%);
    animation: moveLeftToRight 5s linear infinite;
    position:absolute ;
  }

  .move {
    position: relative;
    width: 1527px;
    height: 200px;
    overflow: hidden;
  }
  
  @keyframes moveLeftToRight {
    0% {
      left: 0;
    }
    100% {
      left: calc(50% - 50px);
    }
  }

  /* end of trust section */

  

  .box {
    width: 550px;
    height: 60px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    display: flex;
    align-items:start;
    box-shadow: 10px 10px 30px rgba(0, 53, 133, 0.1);
    border-radius: 10px;
    margin-left: 870px;
    position: relative;
    
  }

  .box input,
.box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  
}

.box label {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  font-size: 16px;
  color: #999;
}

input:focus, textarea:focus {
  outline: none;
  border-color:var(--orange-color) ;
}

.box input:focus + label,
.box textarea:focus + label,
.box input:not(:placeholder-shown) + label,
.box textarea:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 14px;

}
  
  .tall {
    height: 140px;
  }
  
  .label {
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
  }

  .map img{
    margin-top: 100px;
    width: 790px;
  }
  
  .form{
    margin-left: 850px;
    margin-top: -600px;
  }

  .btt{
    margin-left: 850px;
    margin-top: 50px;  
  }
  
  .map{
    position: relative;
  }

  /* detail section end */

.last{
    display: flex;
    flex-wrap: wrap;
    background-color: #002D71;
    width: 1528px;
    height: 530px;
    left: 0px;
    margin-top: 42px;
    text-align: center;
    position: relative;
}

.las h1 {
    color: white;
    text-align: center;
    margin-top: 90px;
    margin-left: 28rem;
    font-size: 38px;
}
.las p{
    color: #FFFFFF;
    margin-left: 28rem;
}
.phn{
    margin-left: 850px;
    margin-top: 180px;
    width: 500px;
    height: 300px;
    position: relative;
    animation: hovupdow 2s infinite alternate;
}

@keyframes hovupdow {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.ext{
    margin-top: 230px;
    margin-left: -430px;
}

/* end of last section */

footer{
  background: linear-gradient(89.95deg, #C3EDFB 0.05%, #E4F9FE 99.96%);
  padding: 70px 0px;

}

footer a{
    text-decoration: none;
    color: #111111;
}

footer ul{
    list-style: none;
    padding-left: 20px;
}
footer ul li{
    margin: 16px 0;
}

footer .logo-container{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 3fr;
} 
footer .social{
    margin-left: -40px;
    margin-right: 1px;
}
footer .social1{
    margin-left: -40px;
}
.copyright{
    margin-top: 8rem;
    margin-left: 32rem;
    font-size: 17px;
}

.foot{
  margin-left: 100px;
  height: 400px;
}

/* footer end */
::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background:#E20A17 ; 
  }

  ::-webkit-scrollbar-thumb {
    background: #002D71; 
  }

  .scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #002D71;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    width: 50px;
    height: 45px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.scroll-button:hover {
    background-color:#E20A17 ;
}

.slide-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s, transform 0.5s;
}

.slide-right {
  opacity: 0;
  transform: translateX(0px);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
}